html,
body,
div,
header,
footer,
section,
a,
ul,
li,
form,
input,
p,
h,
label {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: fit-content;
}

a {
	text-decoration: none;
	color: inherit;
}

div,
label,
input {
}
